@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Ariel', sans-serif;
}

.wrapp {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  padding: 15px 0;
}

.main-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background-image: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  z-index: 1;
}

.main-header .wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.main-header .wrapper .logo .logo-link {
  display: block;
  width: 128px;
  height: 50px;
}

.mnav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mnav-list .mnlist-item {
  margin-right: 20px;
}

.mnav-list .mnlist-item:last-child {
  margin-right: 0;
}

.mnlist-item .mnli-link {
  font-family: "Roboto - Black", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.33px;
}

.mnlist-item:first-child .mnli-link {
  color: #00e0d0;
}

.hello {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#09052f), to(#311d5e));
  background-image: -webkit-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background-image: -o-linear-gradient(left, #09052f 0%, #311d5e 100%);
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
}

.hello .hello-wrapper {
  width: 775px;
  margin: 0 auto;
  padding: 230px 0 0;
}

.hello .hello-wrapper .hello-title {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 900;
}

.hello .hello-wrapper .hello-title:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 0px;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
}
