.contact {
  padding-top: 35px;
  padding-bottom: 70px;
  background: $white;
  .wrapper {
    display: flex;
  }
  .contact-title {
    @include h2-text;
    margin-bottom: 35px;
  }
  .us-contact {
    width: 50%;
    padding-right: 10px;
    margin-right: 90px;
    input {
      padding: 20px;
      margin-bottom: 20px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #000000;
      opacity: 0.5;
      color: #413d4b;
      font-family: $Robot;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
    }
    textarea {
      width: 100%;
      resize: none;
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #000000;
      opacity: 0.5;
      color: #413d4b;
      font-family: $Robot;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
    }
    button {
      @include section-light-link;
      background: none;
    }
  }
}
.happy-clients {
  .clients-title {
    @include h2-text;
    margin-bottom: 35px;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    width: 385px;
    align-items: center;
    .clients-item {
      margin-bottom: 50px;
      text-align: center;
      &:nth-child(2n+1) {
        width: 162px;
        margin-right: 80px;
      }
      &:nth-child(even) {
        width: 138px;
      }
      .clients-link {
        display: inline-block;
      }
    }
  }
}