.footer-page {
  position: relative;
  padding: 70px 0 55px;
  background: black url("../img/footer-back.png");
  background-size: cover;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $my-gradient;
    top: 0;
    left: 0;
    opacity: 0.9;
  }
  .wrapper {
    position: relative;
    display: flex;
    z-index: 1;
    .tajam-info {
      width: 305px;
      margin-right: 20px;
      .description-info {
      @include p-text;
      color: $white;
      margin-bottom: 65px;
    }
      .footer-info {
        display: flex;
        justify-content: space-between;
        & a {
          color: #ffffff;
          font-family: $Robot;
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          text-transform: uppercase;
          letter-spacing: 0.35px;
        }
      }
    }
    .our-studio {
      width: 270px;
      margin-right: 60px;
      .studio-title {
        @include h3-text;
        color: $white;
        margin-bottom: 40px;
      }
      .point-map {
        position: relative;
        padding-left: 30px;
        @include p-text;
        color: $white;
        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 14px;
          height: 19px;
          background: url("../img/point.png");
        }
      }
      .our-phone {
        position: relative;
        padding-left: 30px;
        @include p-text;
        color: $white;
        &:before {
          position: absolute;
          content: "";
          top: 2px;
          left: 0;
          width: 17px;
          height: 17px;
          background: url("../img/phone-s.png");
        }
      }
    }
  }
}
.touch {
  .touch-title{
    @include h3-text;
    color: $white;
    margin-bottom: 45px;
  }
  .subscribe {
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 25px;
    input {
      box-sizing: border-box;
      margin-right: 10px;
      padding: 6px 0 6px 12px;
      width: 210px;
      color: black;
      font-family: $Robot;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.7px;
      background: none;
      border: 1px solid #ffffff;
      @include placeholder {
        color: $white;
      }
    }
    button {
      width: 72px;
      height: 40px;
      background: #a199b4 url("../img/plane.png") 25px 13px no-repeat;
      border: none;
    }
  }
}
.soc-list {
  display: flex;
  justify-content: space-between;
  width: 255px;
  margin-bottom: 53px;
  .soc-item {
    margin-right: 10px;
    .soc-link {
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid $white;
    }
    &:first-child {
      .soc-link {
        background: url("../img/facebook.png")no-repeat center center;
      }
    }
    &:nth-child(2) {
      .soc-link {
        background: url("../img/twitter.png")no-repeat center center;
      }
    }
    &:nth-child(3) {
      .soc-link {
        background: url("../img/dribbble.png")no-repeat center center;
      }
    }
    &:nth-child(4) {
      .soc-link {
        background: url("../img/instagram.png")no-repeat center center;
      }
    }
    &:nth-child(5) {
      .soc-link {
        background: url("../img/google.png")no-repeat center center;
      }
    }
    &:last-child {
      .soc-link {
        background: url("../img/youtube.png")no-repeat center center;
      }
    }
  }
}
.copy {
  color: #ffffff;
  font-family: $Robot;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.35px;
}