.main-header {
  //position: relative;
  position: absolute;
  max-width: 1600px;
  padding: 15px 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  opacity: 0.8;
  .logo .logo-link {
    display: block;
    width: 128px;
    height: 50px;
  }
  .main-nav {
  }

}

.mnav-list {
  display: flex;
  .mnlist-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.mnlist-item {
  .mnli-link {
    font-family: "Roboto - Black", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.33px;
  }
  &:first-child .mnli-link {
    color: $blue;
  }
}
