.main-header {
  width: 100%;
  padding: 15px 0;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    //background: linear-gradient(to right, #2c2648, #44346d);
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);

    z-index: 1;
  }
  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    .logo .logo-link {
      display: block;
      width: 128px;
      height: 50px;
    }
    .main-nav {

    }
  }
}

.mnav-list {
  display: flex;
  .mnlist-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.mnlist-item {
  .mnli-link {
    font-family: "Roboto - Black", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.33px;
  }
  &:first-child .mnli-link {
    color: #00e0d0;
  }
}
