.our-story {
  padding: 70px 0 100px;
  background: $white;
  .wrapper {
    img {
    }
    .story {
      width: 540px;
      .story-title {
        @include h2-text;
      }
      .story-description {
        @include p-text;
      }
    }
  }
}
.our-story .wrapper {
  display: flex;
  justify-content: space-between;
}