@mixin p-text {
  font-family: Roboto, 'Ariel', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.42px;
}
@mixin section-dark-link {
  display: inline-block;
  margin: 0 auto;
  padding: 5px 15px;
  font-family: "Hammersmith One", 'Ariel', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $blue;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border: 1px solid $blue;
}
@mixin section-light-link {
  display: inline-block;
  margin: 0 auto;
  padding: 5px 15px;
  font-family: "Hammersmith One", 'Ariel', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #00e0d0;
  text-transform: uppercase;
  line-height: 40px;
  border: 1px solid #00e0d0;
}
@mixin h2-text {
  color: #413d4b;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
@mixin h3-text {
  color: #413d4b;
  font-family: "Roboto", 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}